p{
    font-weight: bolder;
    color: black;
     background-color: yellow;
}
body{
    margin: -1px;
    margin-bottom: -1px;
    border-style: solid;
    border-color: rgb(0, 17, 255);
    border-width: 5px;
}