p{
    font-weight: bolder;
    color: black;
    /* background-color: yellow; */
    text-align: center;
}
body{
    margin: auto;
    margin-bottom: auto;
    border-style: solid;
    border-color: rgb(0, 17, 255);
    border-width: 6.5px;
    text-align: center;
}
.animals{
    width: "175px";
    height: "100px";
}